@import url('https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tiktok-sans-font {
  font-family: "TikTok Sans", sans-serif;
  font-weight: normal;
}

.barlow-condensed-font {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container{
    max-width: 1420px;
    margin: auto;
    padding: 0 20px !important;  
}

.debug{
    border: 2px solid red;
}

ul>li{
    list-style: none;
}

:root{
    --primary_color: #064C50;
    --secondary_color: #6B7280;
    --accent_color: #111827;
}



/* header */
.offer_div{
    background-color: #bdeb69;
}

.offer_swiper{
    position: relative;
}

.offer_sentence{
    color: #083928;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    content: '';
}

.swiper-button-next,
.swiper-button-prev {
    background-image: none !important;
}

.button-next i,
.button-prev i {
    color: black;
    font-size: 16px;
    position: absolute;
    top: 30%;
    pointer-events: auto !important;
    z-index: 10 !important;
    cursor: pointer;
}

.button-next i{
    right: 95px;
}

.button-prev i{
    left: 95px;
}

.swiper-button-disabled i{
    color: gray !important;
}

.swiper-button-disabled {
    pointer-events: none;
}

/* header 2nd */
.mini_navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}

.mini_nb_left_side{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.mini_nav_li,.mini_nav_li_right{
    display: flex !important;
    justify-content: center;
    align-items: center;
    gap: 24px;
    font-size: 13px;
    color: var(--secondary_color);
    cursor: pointer;
}

.mini_nav_li li:hover,.mini_nav_li_right li:hover{
    color: black;
}

.order_min{
    display: flex;
    gap: 0.75rem;
    justify-content: center;
    align-items: center;
}

.order_time_text,.order_min_icon{
    color: rgb(101, 163, 13);
    font-weight: 500;
    font-size: 13px;
}

/* header 3rd */
.header_middle_part{
    display: flex;
    gap: 4rem;
    align-items: center;
}

.header_middle_part{
    padding-top: 35px;
}

.siteLogo{
    width: 167px;
}

.location_search{
    display: flex;
    gap: 1.25rem;
}

.location_icon{
    background-color: rgb(6, 76, 80);
    width: 2.625rem;
    height: 2.625rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.location{
    display: flex;
    gap: 0.875rem;
    justify-content: center;
    align-items: center;
}

.location_icon i{
    color: white;
}

.location_text h4{
    font-weight: 600;
    font-size: 15px;
    color: #000000;
}

.location_text h5{
    font-size: 0.625rem;
    letter-spacing: -0.01em;
    color: #000000;
    opacity: 0.5;
}

.search{
    position: relative;
}

.search_input{
    background-color: rgb(243, 244, 246);
    width: 677px !important;
    padding: 20px 20px 20px 55px;
    border-radius: 30px;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 15px;
    color: var(--secondary_color);
}

.search_icon_div i{
    position: absolute;
    top: 22px;
    left: 25px;
    font-weight: 600;
    font-size: 15px;
    color: var(--secondary_color);
}

.user_details{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
}

.user_img{
    background-color: #bdeb69;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user_img i{
    color: rgb(0, 0, 0);
}

.favorites,.repeat,.cart{
    background-color: transparent;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    position: relative;
}

.no_fav,.items h5{
    background-color: rgb(244, 63, 94);
    border-radius: 50%;
    min-width: 1.0625rem;
    height: 1.0625rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0px;
    bottom: 30px;
}

.cart svg{
    fill: white;
}

.no_fav h5,.items h5{
    color: white;
}

.total_money{
    font-size: 15px;
}

.total_money span{
    color: #000000;
    opacity: 0.5;
    font-weight: 400;
    font-size: 10px;
    white-space: nowrap;
}

.header_hr{
    background-color: rgb(206, 206, 206);
    border: none;
    height: 1px;
    margin-top: 20px;
}

/* header_main_menu */
.header_main_menu{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLinks{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.navLinks li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 600;
}

.down_arrow{
    margin-left: 4px;
}

.best_sell{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer !important;
}

.sale_badge{
    background-color: rgb(244, 63, 94);
    color: white;
    font-weight: 600;
    font-size: 10px;
    padding: 8px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

/* banner section */
.banner_slider_one{
    background-image: url("../assets/banner_img_1.png");
    background-repeat: no-repeat;
    background-position: top center;
}

.banner_slider_two{
    background-image: url("../assets/banner_img_2.png");
    background-repeat: no-repeat;
    background-position: top center;
}

.banner_slider_one,.banner_slider_two{
    padding-top: 150px;
    padding-bottom: 150px;
}

.discount{
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.discount_number{
    font-size: 3.5rem;
    font-weight: 600;
    color: rgba(199, 0, 54, 1);
}

.discount_number_div{
    background: linear-gradient(320deg, rgba(255, 201, 201, 1) 0%, rgba(255, 255, 255, 0) 50%) !important;
    border-radius: 50%;
    width: 7.5rem;
    height: 7.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.discount_text{
    font-weight: 400;
    font-size: 12px;
    color: var(--primary_color);
    max-width: 220px;
    margin-bottom: 1.25rem;
}

.banner_headline{
    font-weight: 800;
    font-size: 56px;
    color: var(--primary_color);
    line-height: 1.25;
    letter-spacing: -0.025em;
    margin-bottom: 1.25rem;
    width: 50%;
}

.banner_description{
    font-size: 1em;
    color: var(--primary_color);
    line-height: 1.25;
    letter-spacing: -0.025em;
    margin-bottom: 1.25rem;
    width: 40%;
}

.shop_btn_div{
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.shop_btn{
    background-color: var(--primary_color);
    color: white;
    border-radius: 9999px;
    border: none;
    padding: 15px;
    font-weight: 600;
    font-size: 14px;
}

.shop_btn:hover{
    background-color: rgba(6, 76, 80);
    opacity: 0.87;
    cursor: pointer;
}

.starting_price{
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.starting_price h3{
    color: rgb(21, 128, 61);
    font-size: 40px;
    font-weight: 600;
}

.starting_price h4{
    font-weight: 400;
    font-size: 12px;
    opacity: 0.6;
    color: rgb(21, 128, 61);
}